<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author： Zhi siJie -->
<mapper namespace="com.tongfu.idoccloud.system.mapper.CompanyMapper">

    <select id="getCompanyInfo" resultType="company">
        SELECT
            company_id,
            company_name,
            en_name,
            regist_uuid,
            logo,
            create_date,
            create_by
        FROM
            company
        WHERE
            STATUS = 1
        AND company_id = 1
    </select>

    <update id="updateCompanyInfo" parameterType="company">
        UPDATE company
        SET
        <trim prefix=" " suffix=" " suffixOverrides=",">
            <if test="companyName != null">
                company_name=#{companyName},
            </if>
            <if test="enName != null">
                en_name=#{enName},
            </if>
            <if test="updateDate != null">
                update_date=#{updateDate},
            </if>
            <if test="userId != null">
                update_by=#{userId},
            </if>



        </trim>

        WHERE
            STATUS = 1
        AND company_id = 1
    </update>

</mapper>