<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author： Zhi siJie -->
<mapper namespace="com.example.mycat.mapper.UserMapper">

    <select id="allUsers" resultType="user" >
        select id,name from test
    </select>

    <insert id="addUser" parameterType="user" >
        insert into test values (id,#{name})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <insert id="testDataNode" parameterType="user" >
        insert into testDataNode values (id,#{name})
        <selectKey resultType="user" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

</mapper>