<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pagehelper.mapper.DocumentMapper">

    <insert id="millionAdd" parameterType="document">
      insert into T_document(documentId, title, departId, doc_uuid,levelId, userId)
      VALUES(documentId,#{title},#{departId},#{doc_uuid},#{levelId},#{userId})
    </insert>

</mapper>